<ion-menu side="start" menuId="menuprincipal" contentId="main">
    <ion-header>
        <ion-toolbar color="green">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-button routerLink="/appi">Info</ion-button>
        </ion-list>
        <ion-button routerLink="/licores">Cervezas</ion-button>
        <ion-list>
            <ion-button routerLink="/licores">Vinos</ion-button>
        </ion-list>
        <ion-list>
            <ion-button routerLink="/licores">Whisky</ion-button>
        </ion-list>
        <ion-list>
            <ion-button routerLink="/licores">Champagne</ion-button>
        </ion-list>
        <ion-list>
            <ion-button routerLink="/licores">Pisco</ion-button>
        </ion-list>
        <ion-list>
            <ion-button routerLink="/usuario">Tus compras</ion-button>
        </ion-list>
        <ion-list>
            <ion-button routerLink="/notfound">carrito</ion-button>
        </ion-list>

    </ion-content>