<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
        <ion-img src="/assets/icon/descarga (3).jpg"></ion-img>
        <ion-card-title>Plato Principal</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        El Plato Principal esta compuesto desde Hamburguesas hasta resetas completamente sin carne y demas.
        <ion-card-content> Platos disponibles:
            <h1>Fidedos con salsa</h1>
            <h1>Hamburguesas de carne con queso</h1>
            <h1>Escalivada</h1>
            <h1>Masala Dosa</h1>
            <h1>Papas Fritas con Bistec</h1>
            <h1></h1>
        </ion-card-content>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
        <ion-img src="/assets/icon/descarga (2).jpg"></ion-img>
        <ion-card-title>Refrescos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        Refrescos con los cuales ayudar a pasar dias de calor y deleitarse con su sabor
        <ion-card-content> Refrscos disponibles:
            <h1>Coca-Cola</h1>
            <h1>Sprite</h1>
            <h1>Bilz y Pap</h1>
            <h1>Pepsi</h1>
            <h1>Agua C/S Gas</h1>
        </ion-card-content>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
        <ion-img src="/assets/icon/descarga (1).jpg"></ion-img>
        <ion-card-title>Ensaladas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        Ensaladas con las cuales acompañar el plato principal o para simplemente comer algo liviano
        <ion-card-content> Ensaladas disponibles:
            <h1>Mixta</h1>
            <h1>Caprese</h1>
            <h1>Waldorf</h1>
            <h1>Griega</h1>
        </ion-card-content>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
        <ion-img src="/assets/icon/descarga.jpg"></ion-img>
        <ion-card-title>Postres</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        Despues de la comida viene lo mejor deleitate y disfruta con un delicioso postre para cerrar una buena comida
        <ion-card-content> Postres disponibles:
            <h1>Helado</h1>
            <h1>Pie de Limon</h1>
            <h1>helao</h1>
            <h1>helao.</h1>
        </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
